.row {
    text-align: center;
}

.match-card {
    display: inline-block;
    width: 100px;
    height: 100px;
    cursor: pointer;
    background-color: #eee;
}

.match-card:hover {
   box-shadow: inset 0px 0px 0px 1px blue;
}