.row {
    text-align: center;
}

.match-card {
    display: inline-block;
    width: 100px;
    height: 100px;
    cursor: pointer;
    background-color: #eee;
    position: relative;
    margin: 5px;
}

.match-card:hover {
   box-shadow: inset 0px 0px 0px 1px blue;
}


.card-front, .card-back {
    position: relative;
    width: 80%;
    height: 80%;
    padding: 20px;
    border-radius: 5px;
}